@import './styles/variables.css';
@import './styles/layout.css';
@import './styles/utilities.css';
@import './styles/transitions.css';

a {
  color: inherit;
}

button {
  font-family: inherit;
}

input,
select {
  font-family: inherit;
}
